form label {
  display: block;
  min-height: 100px;
}

form label {
  margin-left: 49px;
}

form label strong {
  display: block;
  margin-left: 0px;
}

form textarea.tall {
  width: 400px;
}

form textarea.wide {
  height: 200px;
}
